
<h1>Books</h1>

<%= will_paginate @books, list_classes: %w(pagination justify-content-end) %>

<table>
  <tbody>
    <% if @books.empty? %>
      No books were found.
    <% else %>

      <% @books.each do |book| %>
        <tr>
          <td><%= link_to book.title, book, class: "text-decoration-none headline" %></td>
        </tr>
        <tr>
          <td><%= book.description %></td>
        </tr>
        <tr class="d-flex col-xs-3 justify-content-between pt-2">
          <td><%= link_to 'Show', book %></td>
          <td><%= link_to 'Edit', edit_book_path(book) %></td>
          <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <tr>
          <td><hr></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Book', new_book_path %>

<br /><br />

<% if @books %>
  <div>
    <%= form_tag bulk_destroy_books_path, method: :delete do %>
      <div class="form-group">
        <%= submit_tag 'Delete All Books', class: 'btn btn-sm btn-primary' %>
      </div>
    <% end %>
  </div>
<% end %>

