
<p>
  <strong>Forum thread:</strong>
  <%= @forum_post.forum_thread_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @forum_post.user_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @forum_post.body %>
</p>

<%= link_to 'Edit', edit_forum_post_path(@forum_post) %> |
<%= link_to 'Back', forum_posts_path %>
