<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <% if notice %>
      <div class="alert alert-info d-flex justify-content-center">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-warning d-flex justify-content-center">
        <%= alert %>
      </div>
    <% end %>

    <div class="container p-5">
      <%= yield %>
    </div>

  </body>
</html>
